.head,.head_2{
    color:  #363958;
    font-family: Bebas Neue;
    font-style: normal;
    font-size: 60px;
}
.head_2{
    color: #76C27E;
    margin-top: -18px;
}
button{
    background-color:#2a1e59;
   color: white;
}
.ancor_tag a{
    margin-right: 40px;
}
.navbar-brand img{
    width: 60%;
}
.side_image img{
    width: 100%;
}
.pad_bottom{
    margin-bottom: 130px;
}
.card{
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
.backpack{
    color:#2a1e59;
    margin-bottom: 50px;
    font-family: Bebas Neue;
    font-size: 40px;
    
}
.card_img img{
    background-color:#f1f1f1;
     border-radius: 20px; 
     border:none;
}
.card-footer h5{
    color:#76C27E;
    font-style: normal;
    font-size: 36px;
}
.card-title {
    color:#2a1e59;
}